<div class="container">
    <div class="left-pane">
            <div class="icon"></div>
            <div class="mentor-name">
                <p>Sihle Mabaleka</p>
            </div>
            <a href="#" mat-button>Edit</a>
    </div>
    <div class="main-pane">
                <mat-toolbar>
                    <mat-toolbar-row>
                      <span>Students</span>
                      <span class="example-spacer"></span>
                      <button mat-icon-button>
                          <mat-icon class="example-icon">more_horiz</mat-icon>
                      </button>
                    </mat-toolbar-row>
                </mat-toolbar>
                <div class="container">
                    <div class="example-container mat-elevation-z8">
                        <mat-table #table [dataSource]="dataSource">
                            <!-- Position Column -->
                            <ng-container matColumnDef="name">
                              <mat-header-cell *matHeaderCellDef > Name </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                            </ng-container>
                        
                            <ng-container matColumnDef="location">
                              <mat-header-cell *matHeaderCellDef> Location </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.location}} </mat-cell>
                            </ng-container>
                        
                            <!-- Weight Column -->
                            <ng-container matColumnDef="phone">
                              <mat-header-cell *matHeaderCellDef> Phone No. </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.phone}} </mat-cell>
                            </ng-container>
                        
                            <!-- Symbol Column -->
                            <ng-container matColumnDef="level">
                              <mat-header-cell *matHeaderCellDef>Level</mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.level}} </mat-cell>
                            </ng-container>
                        
                            <mat-header-row *matHeaderRowDef="displayedColumns" class="example-header"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        </mat-table>
                      </div>            
    </div>
  </div>
</div>