.container {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    display: flex;
    flex-direction: row;
}

.left-pane {
    width: 400px;
    height: 100%;
    padding-top: 50px;
    border-right: white;
    border-right-width: 5px;
    border-right-style: solid;
    background-color: #142030;    
    display: flex;
    align-items: center;
    flex-direction: column;
}

.icon {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: white;
}

.mentor-name {
    font-size: 1em;
    color: white;
    margin-top: 5px;
}

.main-pane {
    flex-grow: 3;
    height: 100%;
    background-color: white;
}

a {
    color: white;
}

.holder {
    background-color: white;
    display: flex;
    align-content: center;
    height: auto;
    overflow: hidden;
}

.example-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
  
.example-header {
    background-color: #142030;
    min-height: 64px;
    padding: 8px 24px 0;
    color: white;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}
  
.mat-table {
}

mat-header-cell {
    color: white;
}

.example-icon {
    padding: 0 14px;
}
  
.example-spacer {
    flex: 1 1 auto;
}